table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;

}

table {
    width: 100%;


}

table:nth-child(odd) {
    margin-top: 30px;
    
}
table:nth-child(even) {
    margin-top: 30px;
}

table:nth-child(5) {
    border: 1px solid black;
    width: 100px;
    position: absolute;
    border-collapse: unset;
 
   left: 50%;

    
}

h3 {
    text-align: center;
}
a{
    position: absolute;
   margin-top: 100px;
}